$color-white: #fff;
$color-light: #fafafa;
$color-dark: #333;
$color-edge: #e9e9e9;

$color-aquamarine: #76FABB;
$color-meadow: #1BDE81;
$color-eucalyptus: #218764;
$color-stromboli: #2F5E52;

$color-link: #555;

$color-sidebar-background: $color-light;
$color-sidebar-link: $color-eucalyptus;
$color-sidebar-link-background-hover: $color-edge;

$color-content-background: $color-white;
$color-page-background: $color-light;
