.container {
  width: 100%;
}

.row {
  display: block;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }

}

.col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
