.menu {
  width: 100%;
  padding-top: $scale-p0;

  .menu-label,
  .menu-list li {
    @include at-least-tablet {
      font-size: $scale-p0;
    }

    @include until-tablet {
      font-size: $scale-p1;
    }
  }

  .menu-label {
    margin: $scale-p0 0 0 0;
    font-weight: 700;
    font-family: $font-display-family;

    &:first-child {
      margin-top: 0;
    }

    a {
      display: block;
      padding: $scale-m1 $scale-p0;
    }
  }

  .menu-list {
    a {
      display: block;
      padding: $scale-m1 $scale-p0;
    }
  }

  .menu-label, .menu-list {
    a {
      color: $color-sidebar-link;

      &.is-active {
        color: $color-white;
        background-color: $color-eucalyptus;
      }

      &:hover {
        &:not(.is-active) {
          background-color: $color-sidebar-link-background-hover;
        }
      }
    }
  }
}
