$navbar-height: ($scale-p0 + $scale-m3) * 3;
$navbar-transition-timing: 0.2s;
$color-navbar-hover: darken($color-meadow, 6%);

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $color-meadow;

  @include until-tablet {
    //transition: height $navbar-transition-timing ease-in;

    .nav-menu {
      visibility: hidden;
    }

    &.is-open {
      height: 100vh;
      //transition: height $navbar-transition-timing ease-in;
      overflow-y: scroll;

      .logo {
        height: $navbar-height;
        background-color: $color-navbar-hover;
      }

      .nav-menu {
        visibility: visible;
      }
    }
  }

  @include at-least-tablet {
    display: flex;
    justify-content: space-between;
  }

  @include at-least-desktop {
    justify-content: space-between;
  }

  .nav-toggle {
    color: $color-white;
    font-size: $scale-p2;
    height: $navbar-height;
    display: inline-block;
    line-height: $scale-p2;

    &:hover {
      background-color: $color-navbar-hover;
    }

    @include at-least-tablet {
      display: none;
    }
  }

  &.is-fixed {
    position: fixed;
    top: 0px;
    z-index: 2000;
  }

  .nav-brand {
    @include at-least-tablet {
      display: flex;
      align-items: center;
    }

    @include until-tablet {
      width: 100%;

      .nav-menu ul {
        justify-content: center;
      }
    }

    .logo {
      height: $navbar-height;
      display: flex;
      align-items: center;
    }

    .logo-mark {
      width: 36px;
      height: 36px;
      padding: $scale-p0 $scale-m1 $scale-p0 $scale-p0;
    }

    .logo-type {
      color: #fff;
      font-family: $font-display-family;
      font-weight: 800;
      font-size: $scale-p1;
      padding-right: $scale-p0;
    }
  }

  .nav-menu {
    @include at-least-desktop {
      margin-left: $scale-p3;
    }

    &.is-meta {
      margin-left: 0;
    }

    ul {
      @include at-least-tablet {
        display: flex;
        align-items: center;
      }

      li {
        font-size: $scale-p0;
        line-height: 1.2;
        height: $navbar-height;
        font-family: $font-display-family;
        font-weight: 700;
        color: $color-white;

        a {
          display: block;
          box-sizing: border-box;
          padding: $scale-p0 + $scale-m3;
          height: $navbar-height;
          color: $color-white;

          &:hover {
            background-color: $color-navbar-hover;
          }

          svg {
            display: inline;
          }

          span {
            display: none;
          }
        }

        @include until-tablet {
          font-size: $scale-p2;
          height: auto;

          a {
            height: auto;

            svg {
              display: none;
            }

            span {
              display: inline;
            }
          }
        }
      }
    }
  }
}
