$pagebar-height: ($scale-p2 + $scale-p1 + $scale-m2 + $scale-m3);

.pagebar {
  background-color: $color-eucalyptus;
  height: $pagebar-height;
  color: $color-white;
  padding: $scale-p0;

  .breadcrumbs {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    li {
      margin-right: $scale-m2;
      font-size: $scale-m1;

      &:not(:first-child) {
        &:before {
          content: "/";
          margin-right: $scale-m2;
        }
      }
    }
  }

  h1 {
    margin-top: $scale-m3;
    line-height: 1.2;
    font-size: $scale-p2;
  }
}
