@import "_styles/reset";
@import "_styles/media";
@import "_styles/colors";
@import "_styles/typography";
@import "_styles/grid";
@import "_styles/menu";
@import "_styles/styleguide";
@import "_styles/navbar";
@import "_styles/pagebar";
@import "_styles/syntax";
@import "_styles/spread";
@import "_styles/cta";
@import "_styles/yard";
@import "_styles/card";
@import "_styles/content";

.container {
  width: 60%;
  margin: $scale-p2 auto;
  color: $color-dark;
  line-height: 1.5;

  h1 {
    color: $color-eucalyptus;
  }

  a {
    color: $color-dark;
    border-bottom: 1px solid $color-meadow;
    padding-left: $scale-m2;

    &:before {
      padding-right: $scale-m2;
      content: "→";
    }
  }
}

.page {
  background-color: $color-page-background;
  min-height: calc(100vh - #{$navbar-height} - #{$pagebar-height} - #{$scale-p1});
}

.docs-sidebar {
  background-color: $color-sidebar-background;

  @include until-tablet {
    .menu-label,
    .menu-list li {
      a {
        padding-left: $scale-p3;
      }
    }
  }

  @include tablet {
    width: $scale-p0 * 10;
  }

  @include desktop {
    width: $scale-p0 * 10;
  }
}

.docs-content {
  order: 2;
  min-width: 83.3333333%;
}



.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content-footer-col {
    border: 1px solid red;
    //padding: $scale-p3;
  }
}

.navbar.is-fixed + .spread,
.navbar.is-fixed + .page {
  margin-top: ($scale-p0 + $scale-m3) * 3;
}
