@import "_styles/reset";
@import "_styles/media";
@import "_styles/typography";
@import "_styles/grid";
@import "_styles/menu";
@import "_styles/styleguide";
@import "_styles/navbar";
@import "_styles/pagebar";
@import "_styles/syntax";
@import "_styles/spread";
@import "_styles/cta";
@import "_styles/yard";

//$color-sidebar-background: $color-eucalyptus;
$color-sidebar-background: $color-light;
$color-sidebar-link: $color-eucalyptus;
$color-sidebar-link-background-hover: $color-edge;

$color-content-background: $color-white;
$color-page-background: $color-light;

.container {
  width: 60%;
  margin: $scale-p2 auto;
  color: $color-dark;
  line-height: 1.5;

  h1 {
    color: $color-eucalyptus;
  }

  a {
    color: $color-dark;
    border-bottom: 1px solid $color-meadow;
    padding-left: $scale-m2;

    &:before {
      padding-right: $scale-m2;
      content: "→";
    }
  }
}

.page {
  background-color: $color-page-background;
}

.docs-sidebar {
  background-color: $color-sidebar-background;
  //position: sticky;
  //top: 0px;
  //flex: none;
  //z-index: 1000;
  width: $scale-p0 * 10;
  //max-height: 100vh;

  .menu-label, .menu-list {
    a {
      color: $color-sidebar-link;

      &.is-active {
        color: $color-white;
        background-color: $color-eucalyptus;
      }

      &:hover {
        &:not(.is-active) {
          background-color: $color-sidebar-link-background-hover;
        }
      }
    }
  }

  .menu-label {
    font-weight: 700;
    font-family: $font-display-family;
  }

  .menu-list {
    font-weight: 400;
  }
}

.docs-content {
  min-width: 83.3333333%;

  .logo {
    position: fixed;
  }

  .logo + .content {
    margin-top: $scale-p2;
  }

  .content {
    margin: $scale-p0;
    background-color: $color-content-background;
    padding: $scale-p1;
    max-width: 800px;
    border: 1px solid #e9e9e9;
    box-shadow: 1px 1px 6px 0px rgba(#e9e9e9, 0.2);

    a {
      color: $color-stromboli;
      border-bottom: 1px solid $color-eucalyptus;
    }

    h1, h2, h3 {
      color: $color-eucalyptus;
      margin-top: $scale-p1;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h2 {
      font-size: $scale-p1;
    }

    h3 {
      font-size: $scale-p0;
    }

    .highlighter-rouge {
      margin-bottom: 1rem;
    }

    pre {
      font-family: $font-code-family;
      overflow-x: scroll;
      padding: $scale-m2 $scale-m1;
      border-radius: 2px;
      line-height: 1.4;

      code {
        font-family: $font-code-family;
        font-size: $scale-p0;
      }
    }

    p, li {
      color: $color-dark;
    }

    li {
      display: list-item;
      margin-left: $scale-p0;
      list-style: disc;
    }
  }
}



.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content-footer-col {
    border: 1px solid red;
    //padding: $scale-p3;
  }
}

.navbar.is-fixed + .spread,
.navbar.is-fixed + .page {
  margin-top: ($scale-p0 + $scale-m3) * 3;
}
