@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

html {
  font-size: 18px; }
  @media (min-width: 1024px) {
    html {
      font-size: 20px; } }

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 1.3rem; }

p, li {
  font-size: 1rem; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 1.3rem;
  margin-bottom: 1rem; }

.is-hidden {
  display: none; }

.container {
  width: 100%; }

.row {
  display: block; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .row {
      display: flex; } }
  @media (min-width: 1024px) {
    .row {
      display: flex; } }

.col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1; }

.menu {
  width: 100%;
  padding-top: 1rem; }
  @media (min-width: 768px) {
    .menu .menu-label,
    .menu .menu-list li {
      font-size: 1rem; } }
  @media (max-width: 768px) {
    .menu .menu-label,
    .menu .menu-list li {
      font-size: 1.3rem; } }
  .menu .menu-label {
    margin: 1rem 0 0 0;
    font-weight: 700;
    font-family: "Work Sans", sans-serif; }
    .menu .menu-label:first-child {
      margin-top: 0; }
    .menu .menu-label a {
      display: block;
      padding: 0.76923rem 1rem; }
  .menu .menu-list a {
    display: block;
    padding: 0.76923rem 1rem; }
  .menu .menu-label a, .menu .menu-list a {
    color: #218764; }
    .menu .menu-label a.is-active, .menu .menu-list a.is-active {
      color: #fff;
      background-color: #218764; }
    .menu .menu-label a:hover:not(.is-active), .menu .menu-list a:hover:not(.is-active) {
      background-color: #e9e9e9; }

.color-chip {
  width: 100%;
  height: 100px; }

.color-aquamarine {
  background-color: #76FABB; }

.color-meadow {
  background-color: #1BDE81; }

.color-eucalyptus {
  background-color: #218764; }

.color-stromboli {
  background-color: #2F5E52; }

.p0 {
  font-size: 1rem;
  line-height: 1.125;
  margin: 0; }

.p1 {
  font-size: 1.3rem;
  line-height: 1.125;
  margin: 0; }

.p2 {
  font-size: 2.6rem;
  line-height: 1.125;
  margin: 0; }

.p3 {
  font-size: 3.9rem;
  line-height: 1.125;
  margin: 0; }

.p4 {
  font-size: 5.2rem;
  line-height: 1.125;
  margin: 0;
  white-space: nowrap;
  overflow: hidden; }

.navbar {
  width: 100%;
  height: 3.76923rem;
  background-color: #1BDE81; }
  @media (max-width: 768px) {
    .navbar .nav-menu {
      visibility: hidden; }
    .navbar.is-open {
      height: 100vh;
      overflow-y: scroll; }
      .navbar.is-open .logo {
        height: 3.76923rem;
        background-color: #18c371; }
      .navbar.is-open .nav-menu {
        visibility: visible; } }
  @media (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .navbar {
      justify-content: space-between; } }
  .navbar .nav-toggle {
    color: #fff;
    font-size: 2.6rem;
    height: 3.76923rem;
    display: inline-block;
    line-height: 2.6rem; }
    .navbar .nav-toggle:hover {
      background-color: #18c371; }
    @media (min-width: 768px) {
      .navbar .nav-toggle {
        display: none; } }
  .navbar.is-fixed {
    position: fixed;
    top: 0px;
    z-index: 2000; }
  @media (min-width: 768px) {
    .navbar .nav-brand {
      display: flex;
      align-items: center; } }
  @media (max-width: 768px) {
    .navbar .nav-brand {
      width: 100%; }
      .navbar .nav-brand .nav-menu ul {
        justify-content: center; } }
  .navbar .nav-brand .logo {
    height: 3.76923rem;
    display: flex;
    align-items: center; }
  .navbar .nav-brand .logo-mark {
    width: 36px;
    height: 36px;
    padding: 1rem 0.76923rem 1rem 1rem; }
  .navbar .nav-brand .logo-type {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    padding-right: 1rem; }
  @media (min-width: 1024px) {
    .navbar .nav-menu {
      margin-left: 3.9rem; } }
  .navbar .nav-menu.is-meta {
    margin-left: 0; }
  @media (min-width: 768px) {
    .navbar .nav-menu ul {
      display: flex;
      align-items: center; } }
  .navbar .nav-menu ul li {
    font-size: 1rem;
    line-height: 1.2;
    height: 3.76923rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #fff; }
    .navbar .nav-menu ul li a {
      display: block;
      box-sizing: border-box;
      padding: 1.25641rem;
      height: 3.76923rem;
      color: #fff; }
      .navbar .nav-menu ul li a:hover {
        background-color: #18c371; }
      .navbar .nav-menu ul li a svg {
        display: inline; }
      .navbar .nav-menu ul li a span {
        display: none; }
    @media (max-width: 768px) {
      .navbar .nav-menu ul li {
        font-size: 2.6rem;
        height: auto; }
        .navbar .nav-menu ul li a {
          height: auto; }
          .navbar .nav-menu ul li a svg {
            display: none; }
          .navbar .nav-menu ul li a span {
            display: inline; } }

.pagebar {
  background-color: #218764;
  height: 4.54103rem;
  color: #fff;
  padding: 1rem; }
  .pagebar .breadcrumbs {
    display: flex;
    align-items: baseline;
    justify-content: flex-start; }
    .pagebar .breadcrumbs li {
      margin-right: 0.38462rem;
      font-size: 0.76923rem; }
      .pagebar .breadcrumbs li:not(:first-child):before {
        content: "/";
        margin-right: 0.38462rem; }
  .pagebar h1 {
    margin-top: 0.25641rem;
    line-height: 1.2;
    font-size: 2.6rem; }

.highlight .hll {
  background-color: #37463f; }

.highlight {
  color: #eee;
  background-color: #37463f;
  font-weight: bold; }

.highlight .c {
  color: #aaa;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a40000;
  border: 1px solid #ef2929; }

/* Error */
.highlight .g {
  color: #eee; }

/* Generic */
.highlight .k {
  color: #76FABB; }

/* Keyword */
.highlight .l {
  color: #eee; }

/* Literal */
.highlight .n {
  color: #eee; }

/* Name */
.highlight .o {
  color: #FA8676; }

/* Operator */
.highlight .x {
  color: #eee; }

/* Other */
.highlight .p {
  color: #eee;
  font-weight: bold; }

/* Punctuation */
.highlight .ch {
  color: #aaa;
  font-style: italic; }

/* Comment.Hashbang */
.highlight .cm {
  color: #aaa;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #aaa;
  font-style: italic; }

/* Comment.Preproc */
.highlight .cpf {
  color: #aaa;
  font-style: italic; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #aaa;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #aaa;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #a40000; }

/* Generic.Deleted */
.highlight .ge {
  color: #eee;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #ef2929; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #eee; }

/* Generic.Output */
.highlight .gp {
  color: #aaa; }

/* Generic.Prompt */
.highlight .gs {
  color: #eee; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #a40000;
  font-weight: bold; }

/* Generic.Traceback */
.highlight .kc {
  color: #76FABB; }

/* Keyword.Constant */
.highlight .kd {
  color: #76FABB; }

/* Keyword.Declaration */
.highlight .kn {
  color: #76FABB; }

/* Keyword.Namespace */
.highlight .kp {
  color: #76FABB; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #76FABB; }

/* Keyword.Reserved */
.highlight .kt {
  color: #76FABB; }

/* Keyword.Type */
.highlight .ld {
  color: #eee; }

/* Literal.Date */
.highlight .m {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  color: #C2FBE0; }

/* Literal.String */
.highlight .na {
  color: #c4a000; }

/* Name.Attribute */
.highlight .nb {
  color: #76FABB; }

/* Name.Builtin */
.highlight .nc {
  color: #eee; }

/* Name.Class */
.highlight .no {
  color: #eee; }

/* Name.Constant */
.highlight .nd {
  color: #5c35cc;
  font-weight: bold; }

/* Name.Decorator */
.highlight .ni {
  color: #FA8676; }

/* Name.Entity */
.highlight .ne {
  color: #cc0000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #eee; }

/* Name.Function */
.highlight .nl {
  color: #f57900; }

/* Name.Label */
.highlight .nn {
  color: #eee; }

/* Name.Namespace */
.highlight .nx {
  color: #eee; }

/* Name.Other */
.highlight .py {
  color: #eee; }

/* Name.Property */
.highlight .nt {
  color: #76FABB; }

/* Name.Tag */
.highlight .nv {
  color: #eee; }

/* Name.Variable */
.highlight .ow {
  color: #76FABB; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f8;
  text-decoration: underline; }

/* Text.Whitespace */
.highlight .mb {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #C2FBE0; }

/* Literal.String.Affix */
.highlight .sb {
  color: #C2FBE0; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #C2FBE0; }

/* Literal.String.Char */
.highlight .dl {
  color: #C2FBE0; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #aaa;
  font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #C2FBE0; }

/* Literal.String.Double */
.highlight .se {
  color: #C2FBE0; }

/* Literal.String.Escape */
.highlight .sh {
  color: #C2FBE0; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #C2FBE0; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #C2FBE0; }

/* Literal.String.Other */
.highlight .sr {
  color: #C2FBE0; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #C2FBE0; }

/* Literal.String.Single */
.highlight .ss {
  color: #C2FBE0; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #3465a4; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #eee; }

/* Name.Function.Magic */
.highlight .vc {
  color: #eee; }

/* Name.Variable.Class */
.highlight .vg {
  color: #eee; }

/* Name.Variable.Global */
.highlight .vi {
  color: #eee; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #eee; }

/* Name.Variable.Magic */
.highlight .il {
  color: #0000cf;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
.spread {
  display: flex;
  align-items: center;
  padding: 3.9rem 3.9rem 2.6rem 3.9rem; }
  .spread.spread-hero {
    background-color: #218764;
    color: #fff; }
  .spread.spread-intro p {
    font-size: 1rem;
    font-weight: 700;
    color: #2F5E52;
    padding-bottom: 1rem;
    border-bottom: 0.19231rem solid #2F5E52; }
  .spread .identity {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .spread .lede {
    width: 60%; }
    .spread .lede h2 {
      margin-bottom: 1.3rem;
      font-size: 2.6rem;
      line-height: 1.2; }

.cta-list {
  display: flex;
  align-items: center; }
  .cta-list li {
    margin-right: 1.3rem; }

.cta-button {
  display: inline-block;
  padding: 0.76923rem 1rem;
  border: 2px solid #fff;
  border-radius: 0.76923rem;
  font-weight: 700; }
  .cta-button:hover {
    border: 2px solid #76FABB;
    color: #76FABB; }
  .cta-button:active {
    box-shadow: 0 0 4px #76FABB; }

#content {
  margin: 0 auto;
  padding: 2.6rem; }
  #content h1:first-child {
    display: none; }
  #content h1 {
    font-size: 1.3rem;
    margin-top: 1.3rem; }
  #content h2, #content p {
    margin: 0;
    font-size: 1rem; }
  #content .source_code,
  #content .box_info {
    display: none; }
  #content h2 + .docstring p {
    font-size: 1.3rem; }
  #content .signature {
    padding: 0.38462rem;
    border-radius: 6px;
    background-color: #76FABB;
    font-family: "Inconsolata", "Monaco", monospace; }

.card {
  margin: 1rem;
  background-color: #fff;
  padding: 1.3rem;
  border: 1px solid #e9e9e9;
  box-shadow: 1px 1px 6px 0px rgba(233, 233, 233, 0.2); }

.content {
  max-width: 800px; }
  .content a {
    color: #2F5E52;
    border-bottom: 1px solid #218764; }
  .content h1, .content h2, .content h3 {
    color: #218764;
    margin-top: 1.3rem; }
    .content h1:first-of-type, .content h2:first-of-type, .content h3:first-of-type {
      margin-top: 0; }
  .content h2 {
    font-size: 1.3rem; }
  .content h3 {
    font-size: 1rem; }
  .content .highlighter-rouge {
    margin-bottom: 1rem; }
  .content pre {
    font-family: "Inconsolata", "Monaco", monospace;
    overflow-x: scroll;
    padding: 0.38462rem 0.76923rem;
    border-radius: 2px;
    line-height: 1.4; }
    .content pre code {
      font-family: "Inconsolata", "Monaco", monospace;
      font-size: 1rem; }
  .content p, .content li {
    color: #333; }
  .content li {
    display: list-item;
    margin-left: 1rem;
    list-style: disc; }

.container {
  width: 60%;
  margin: 2.6rem auto;
  color: #333;
  line-height: 1.5; }
  .container h1 {
    color: #218764; }
  .container a {
    color: #333;
    border-bottom: 1px solid #1BDE81;
    padding-left: 0.38462rem; }
    .container a:before {
      padding-right: 0.38462rem;
      content: "→"; }

.page {
  background-color: #fafafa;
  min-height: calc(100vh - 3.76923rem - 4.54103rem - 1.3rem); }

.docs-sidebar {
  background-color: #fafafa; }
  @media (min-width: 768px) {
    .docs-sidebar .menu-label,
    .docs-sidebar .menu-list li {
      font-size: 0.76923rem; } }
  @media (max-width: 768px) {
    .docs-sidebar .menu-label a,
    .docs-sidebar .menu-list li a {
      padding-left: 3.9rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .docs-sidebar {
      width: 10rem; } }
  @media (min-width: 1024px) {
    .docs-sidebar {
      width: 10rem; } }

.docs-content {
  order: 2;
  min-width: 83.3333333%; }

.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .content-footer .content-footer-col {
    border: 1px solid red; }

.navbar.is-fixed + .spread,
.navbar.is-fixed + .page {
  margin-top: 3.76923rem; }
